body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title {
    font-size: 48px;
    font-weight: 800;
}

.recipe-list {
    background-color: silver;
    border: 1px black solid;
}

.recipe-item {
    font-size: 24px;
    margin: 8px 0;
}

.recipe-img {
    height: 500px;
    width: auto;
}

.ingredient-list {
    background-color:lightblue;
    font-size: 18px;
}

.steps {
    background-color: lightcoral;
    font-size: 22px;
}

h2 {
    font-size: 28px;
}

.highlight {
    background-color: yellow;
    margin: 0 -3px;
    padding: 3px;
}

